@font-face {
  font-family: "btitr";
  src: local("./fonts/BTITRBD.TTF");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
body {
  margin: 0;
  font-family: "btitr";
}

code {
  font-family: "btitr";
}
